@import "variables";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$cor:blue;

// h1{
//     background-color: $cor;
//     font-size: 20px+100px;
// }
// div{
//     background-color: aqua;


//     h1{
//         font-size: 50px;
//         a{
//             color: chartreuse;
//             h4{
//                background-color: aqua; 
//             }
//         }
//     }
//     p{
//         background-color: rgb(239, 239, 243);
//         font-size: 78px;
//     }
// }



// @mixin common($color,$font){
// background-color: $color;
//     font-size: $font;
//     color: $white;

// }

// p{
//    @include common(yellow,60px); 
// }
// h1{
//     @include common(green,70px); 
// }

// h2{
//     @include common(white,50px); 
// }
// h3{
//     @include common(red,56px); 
// }





h1{
    font-size: $font;
    background-color:$white2 ;
}
h2{
    font-size: $font;
    background-color:$white3 ;

}
